<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i> 综合管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>

                    <li>
                        <a data-title="小程序配置" data-href="{:url('More/setup')}" href="{:url('More/setup')}" target="iframe" >小程序配置</a>
                    </li>

                </ul>
            </dd>
        </dl>
        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 分类管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li>
                        <a data-title="添加分类" data-href="{:url('Category/add')}" href="{:url('Category/add')}" target="iframe">添加分类</a>
                    </li>
                    <li>
                        <a data-title="分类管理" data-href="{:url('Category/index')}" href="{:url('Category/index')}" target="iframe">分类管理</a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe613;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li>
                        <a data-title="添加产品" data-href="{:url('Product/add')}" href="{:url('Product/add')}" target="iframe">添加产品</a>
                    </li>
                    <li>
                        <a data-title="产品管理" data-href="{:url('Product/index')}" href="{:url('Product/index')}" target="iframe">产品管理</a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe620;</i> 品牌管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li>
                        <a data-title="添加品牌" data-href="{:url('Brand/add')}" href="{:url('Brand/add')}" target="iframe">添加品牌</a>
                    </li>
                    <li>
                        <a data-title="品牌管理" data-href="{:url('Brand/index')}" href="{:url('Brand/index')}" target="iframe">全部品牌</a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-tongji">
            <dt><i class="Hui-iconfont">&#xe61a;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-title="全部订单" data-href="{:url('Order/index')}" href="{:url('Order/index')}" target="iframe">全部订单</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('User/index')}" data-title="会员管理" href="{:url('User/index')}" target="iframe">会员管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('Adminuser/add')}" data-title="添加管理员" href="{:url('Adminuser/add')}" target="iframe">添加管理员</a></li>
                    <li><a data-href="{:url('Adminuser/adminuser')}" data-title="管理员管理" href="{:url('Adminuser/adminuser')}" target="iframe">管理员管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-tongji1">
            <dt><i class="Hui-iconfont">&#xe61a;</i> 优惠券管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li>
                        <a data-title="添加优惠券" data-href="{:url('Voucher/add')}" href="{:url('Voucher/add')}" target="iframe">添加优惠券</a>
                    </li>
                    <li>
                        <a data-title="优惠券管理" data-href="{:url('Voucher/index')}" href="{:url('Voucher/index')}" target="iframe">优惠券管理</a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-tongji2">
            <dt><i class="Hui-iconfont">&#xe61a;</i> 广告管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li>
                        <a data-title="添加广告" data-href="{:url('Guanggao/add')}" href="{:url('Guanggao/add')}" target="iframe">添加广告</a>
                    </li>

                    <li>
                        <a data-title="广告管理" data-href="{:url('Guanggao/index')}" href="{:url('Guanggao/index')}" target="iframe">广告管理</a>
                    </li>

                </ul>
            </dd>
        </dl>
    </div>

</aside>